

.services{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  padding: 4rem 0;
}

.services .service-card{
  border: 1px dashed var(--color-primary);
  display: flex;
  align-items: center;
  gap: .5rem;
  height: 100px;
  padding: 1rem;
  border-radius: 5px;
}

.services .service-card .service-icon{
  color: var(--color-primary);
  font-size: 60px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
.services .service-card .service-des{
}

.services .service-card .service-des > h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 .3rem 0;
}

.services .service-card .service-des > p {
  font-size: 15px;
  font-weight: 200;
  margin: 0;
}

