.main-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.title-style {
  font-weight: bold;
  position: relative;
  width: fit-content;
  padding: 1rem;
  font-size: 40px;
}

.title-style::after , .title-style::before {
  content: '';
  width: 80px;
  height: 3px;
  background-color: var(--color-primary);
  position: absolute;
  top: 50%;
  
}

.title-style::after{
  left: 100%;
}

.title-style::before {
  right: 100%;
}